  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
    
  header{
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5cm;
    box-sizing: border-box;
    height: 1.5cm;
    transition: 0.5s;
  }
    
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .menu li{
    margin: 0 0.45cm;
  }

  .menu li a{
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: white;
  }
  
  .menu li a:hover{
    color: #0081B4;
  }
  
  .principal{
    position: static;
    max-height: 100cm;
    min-height: 25cm;
    display: grid;
    grid-template-rows: 1fr 0.9fr 0.9fr 0.8fr 0.5fr;
  }
  
  .principal .informacionPersonal{
    position: static;
    background: #674188;
    padding: 1cm;
  }
  
  .perfil{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5cm;
  }
  
  .perfil .imagen{
    position: static;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 1.5cm;
  }
  
  .perfil h1{
    color: black;
    font-size: 2cm;
    margin-top: 0.2cm;
    margin-bottom: 3cm;
    text-align: center;
    font-weight: 600;
  }
  
  .principal .educacion{
    position: static;
    background-color: #FFF2F2;
    padding: 1cm;
  }
  
  .educacion h2{
    color: black; 
    font-weight: 900;
    margin-top: 1cm;
    font-size: 2cm;
    text-align: center;
  }
  
  .educacion li{
    margin-bottom: 0.5cm;
    list-style: none;
  }
  
  .educacion h4{
    color: black;
    font-weight: 600;
    font-size: 0.4cm;
    margin-left: 1cm;
  }
  
  .educacion h3{
    color: black;
    font-weight: 900;
    font-size: 0.8cm;
    margin-left: 1cm;
  }
  
  .educacion h5{
    color: black;
    font-weight: 600;
    font-size: 0.5cm;
    margin-left: 1cm;
  }
  
  .sobreMi{
   padding: 1cm;
   background: #8EA7E9;
  }
  
  .sobreMi h2{
    color: black;
    margin-bottom: 1.5cm;
    margin-top: 1.3cm;
    text-align: center;
    font-weight: 900;
    font-size: 2cm;
  }
  
  p{
    color: black;
    font-weight: 600;
    margin-left: 4cm;
    margin-right: 4cm;
    font-size: 0.7cm;
  }
  
  .parrafo2{
    margin-top: 1cm;
  }
  
  .principal .experiencia{
    position: static;
    background: #FFFFE8;
    padding: 1cm;
  }
  
  .experiencia h2{
    margin-top: 0.4cm;
    text-align: center;
    font-weight: 900;
    font-size: 1.5cm;
  }
  
  .experiencia h6{
    color: black;
    font-size: 0.6cm;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 0.1cm;
  }
  
  .experiencia u1 li{
    color: black;
    font-weight: 600;
    font-size: 0.4cm;
  }
  
  .principal .contacto{
    position: static;
    background: #A6B1E1;
  }
  
  .contacto h2{
    margin-top: 1.3cm;
    margin-bottom: 0.7cm;
    text-align: center;
    color: black;
    font-size: 1.5cm;
    font-weight: 900;
  }
  
  .contacto u1{
    position: relative;
    text-align: center;
  }
  
  .contacto u1 li{
    position: relative;
    list-style: none;
    margin-bottom: 0.6cm;
    cursor: pointer;
  }
  
  .contacto u1 li .iconos{
    display: inline-block;
    width: 0.5cm;
    font-size: 0.6cm;
    color: black;
    margin: 0.2cm;
  }
  
  .contacto u1 li span{
    color: black;
    font-weight: 800;
    font-size: 0.6cm;
  }
  
  html{
    scroll-behavior: smooth;
  }